@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #e3e3e3;
  box-sizing: border-box;
}

html.dark {
  background: #474747;
}

*:focus {
  outline: none;
}

.codepen {
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}
